<html>
<head>
<title>{% block title %} {% endblock %} - Project Hasi</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/gadget.css" type="text/css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/shedule/shedule.css" type="text/css">
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script src="{{ MEDIA_URL }}js/onload.js"></script>

</head>
<body  {% block bodystyle %}{% endblock %}>
<div class="superdiv">
<header>
                    <div class="headline">
                        <h1 class="heading">HASI</h1>
                    </div>

                    <div class="subtitle">
                        <h2 class="subheading">Home Analytical System Interface</h2>
                    </div>
</header>

    <div class="menu">
                <ul>
                    <li>
                    	<a href="{% url gadgets %}">Home</a>
                    </li>
                    <li>
                    	<a href="{% url house_list %}">Haus&uuml;bersicht</a>
                    </li>                     
                    <li>
                    	<a href="index.html">&uuml;ber uns</a>
                    </li>
                    <li>
                    	<a href="schedule">Kalender</a>
                    </li>
                    <li>
                    	{% if user.is_authenticated %}
                    		<a href="{% url logout %}">Logout</a>
                    	{% else %}
                            <a href="{% url login %}">Login</a>
                    	{% endif %}
                    		
                    </li>                    
                </ul>
    </div>

{% block content %}
replace me!
{% endblock %}

            <footer>&copy 2011 - dinoSOURCE</footer>
        </div>

    </body>
</html>
