<div class="box">
    <div class="boxtitle">
        <img class="close button" src="{{ MEDIA_URL }}images/img_trans.gif"   />
       <img class="minimize button max" src="{{ MEDIA_URL }}images/img_trans.gif"  /> 

        <strong>{% block boxtitle %} {{ title }} {% endblock %}</strong>
    </div>

   <div class="boxcontent">
	{% block boxcontent %} 
		{% if file %}
			{% include file %}
		{% else %}
			{% if content %}
				{{ content }}
			{% else %}
		
		{% endif %}	
		{% endif %}
	
	{% endblock %}
	<div class="clear"></div>

   </div>
</div>
