{% extends "base.html" %}

{% block title %} New Foobar {% endblock %}

{% block content %}

<div class="box">
    <div class="boxtitle">
        <img class="close button" src="{{ MEDIA_URL }}images/img_trans.gif"   />
       <img class="minimize button max" src="{{ MEDIA_URL }}images/img_trans.gif"  />

        <strong>Willkommen</strong>
    </div>

   <div class="boxcontent">
       Herzlich Willkommen auf Ihrer HASI-Installation.
	<div class="clear"></div>

   </div>
</div>

{% endblock %}

