
<!--  START PAGE  !!


<div class="box">
    <div class="boxtitle">
        <strong>Nutzen f&uuml;r Endkunden und Wirtschaft</strong>
        <img id="modIcon" class="minimize" src="{{ MEDIA_URL }}images/img_trans.gif" alt="iAmAStupidElement" width="1" height="1" />

    </div>
    <div class="boxcontent">
                    	HASI soll f&uuml;r Endanwender die H&uuml;rde senken, sich mit den Themen
                    	Energiesparen und Heimautomation zu besch&auml;ftigen.
        <br /><br />
						Durch die verwendeten Technologien l&auml;sst sich HASI auf kosteng&uuml;nstigen
						Appliances ausliefern. Systemintegratoren w&auml;ren ebenfalls nicht nur auf ein
						Sensorensystem beschr&auml;nkt sondern k&ouml;nnten aus der kompletten Palette
						von Sensoren und Aktuatoren w&auml;hlen um das passende System f&uuml;r ihre Klienten zu
						entwerfen.
    </div>
</div>

<br />
<br />
<br />
<div class="box">
    <div class="boxtitle">
        <strong>zus&auml;tzlich geplante Features</strong>
        <img id="modIcon" class="minimize" src="{{ MEDIA_URL }}images/img_trans.gif" alt="iAmAStupidElement" width="1" height="1" />

    </div>
    <div class="boxcontent">
                    	HASI wird einfach zu Internationalisieren sein. Durch die verwendeten Technologien
                    	ist gew&auml;hrleistet, dass die Software modular anpassbar ist.
        <br /><br />
                    	HASI wird ebenfalls im Social-Web vertreten sein. Angedacht sind Facebook-Archievments
                    	f&uuml;r besonders Energiesparen oder &quot;Fail-Awards&quot; f&uuml;r Unachtsamkeiten.
                    	Eine Twitter integration inklusive CLI wird vom Start aus integriert sein.
        <br />
        <br />
                    	Durch modernste Webtechnologien ist HASI f&uuml; das mobile Zeitalter ger&uuml;stet. Apps f&uuml;r
                    	andere Plattformen wie ChromeOS, Android oder WebOS lassen sich so in kurzer Zeit realisieren.
    </div>
</div>

<br />
<br />
<br />

<div class="box">
    <div class="boxtitle">
        <strong>&uuml;ber uns</strong>
        <img id="modIcon" class="minimize" src="{{ MEDIA_URL }}images/img_trans.gif" alt="iAmAStupidElement" width="1" height="1" />

    </div>
    <div class="boxcontent">
                    	Noch sind wir Schattenkrieger des HASIs, im Juni wird das Geheimniss gel&uuml;ftet!
    </div>
</div>



        END   START PAGE   !!  -->
